In [80]:
import pandas as pd

In [81]:
governors_data_frame = pd.read_csv("./governors.csv")
governors_data_frame["state_admission_date"] = pd.to_datetime(
    governors_data_frame["state_admission_date"]
)
governors_data_frame

,region,subregion,state_level,state_admission_date,state_abbreviation,state,state_capital,state_largest,no,name,gender,party,start_date,end_date
0,South,East South Central,state,1819-12-14,AL,Alabama,Montgomery,Huntsville,NaN,NaN,NaN,NaN,NaN,NaN
1,West,Pacific,state,1959-01-03,AK,Alaska,Juneau,Anchorage,1,William A. Egan,NaN,Democratic,03-01-1959,05-12-1966
2,West,Pacific,state,1959-01-03,AK,Alaska,Juneau,Anchorage,2,Wally Hickel,NaN,Republican,05-12-1966,24-01-1969
3,West,Pacific,state,1959-01-03,AK,Alaska,Juneau,Anchorage,3,Keith Harvey Miller,NaN,Republican,24-01-1969,05-12-1970
4,West,Pacific,state,1959-01-03,AK,Alaska,Juneau,Anchorage,(1),William A. Egan,NaN,Democratic,05-12-1970,02-12-1974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,Pacific,North Pacific,territory,1899-04-11,GU,Guam,Hagåtña,Hagåtña,NaN,NaN,NaN,NaN,NaN,NaN
291,Pacific,North Pacific,territory,1986-11-04,MP,Northern Mariana Islands,Saipan,Saipan,NaN,NaN,NaN,NaN,NaN,NaN
292,Atlantic,North Atlantic,territory,1899-04-11,PR,Puerto Rico,San Juan,San Juan,NaN,NaN,NaN,NaN,NaN,NaN
293,Atlantic,North Atlantic,territory,1917-03-31,VI,U.S. Virgin Islands,Charlotte Amalie,Charlotte Amalie,NaN,NaN,NaN,NaN,NaN,NaN
294,South,South Atlantic,federal,1790-07-16,DC,"Washington, D.C.","Washington, D.C.","Washington, D.C.",NaN,NaN,NaN,NaN,NaN,NaN

## States

In [82]:
states_data_frame = governors_data_frame[governors_data_frame["state_level"] == "state"]
columns = [
    "region",
    "subregion",
    "state",
    "state_admission_date",
    "state_capital",
    "state_largest",
]
states_data_frame = states_data_frame[columns]
states_data_frame = states_data_frame.sort_values(by=["state_admission_date"])
states_data_frame = states_data_frame.drop_duplicates(columns)
print(len(states_data_frame))
states_data_frame

50

,region,subregion,state,state_admission_date,state_capital,state_largest
86,South,South Atlantic,Delaware,1787-12-07,Dover,Wilmington
229,Northeast,Middle Atlantic,Pennsylvania,1787-12-12,Harrisburg,Philadelphia
161,Northeast,Middle Atlantic,New Jersey,1787-12-18,Trenton,Newark
133,South,South Atlantic,Georgia,1788-01-02,Atlanta,Atlanta
85,Northeast,New England,Connecticut,1788-01-09,Hartford,Bridgeport
152,Northeast,New England,Massachusetts,1788-02-06,Boston,Boston
151,South,South Atlantic,Maryland,1788-04-28,Annapolis,Baltimore
231,South,South Atlantic,South Carolina,1788-05-23,Columbia,Charleston
160,Northeast,New England,New Hampshire,1788-06-21,Concord,Manchester
284,South,South Atlantic,Virginia,1788-06-25,Richmond,Virginia Beach
179,Northeast,Middle Atlantic,New York,1788-07-26,Albany,New York City
224,South,South Atlantic,North Carolina,1789-11-21,Raleigh,Charlotte
230,Northeast,New England,Rhode Island,1790-05-29,Providence,Providence
283,Northeast,New England,Vermont,1791-03-04,Montpelier,Burlington
148,South,East South Central,Kentucky,1792-06-01,Frankfort,Louisville
233,South,East South Central,Tennessee,1796-06-01,Nashville,Nashville
226,Midwest,East North Central,Ohio,1803-03-01,Columbus,Columbus
149,South,West South Central,Louisiana,1812-04-30,Baton Rouge,New Orleans
145,Midwest,East North Central,Indiana,1816-12-11,Indianapolis,Indianapolis
155,South,East South Central,Mississippi,1817-12-10,Jackson,Jackson
144,Midwest,East North Central,Illinois,1818-12-03,Springfield,Chicago
0,South,East South Central,Alabama,1819-12-14,Montgomery,Huntsville
150,Northeast,New England,Maine,1820-03-15,Augusta,Portland
156,Midwest,West North Central,Missouri,1821-08-10,Jefferson City,Kansas City
43,South,West South Central,Arkansas,1836-06-15,Little Rock,Little Rock
153,Midwest,East North Central,Michigan,1837-01-26,Lansing,Detroit
111,South,South Atlantic,Florida,1845-03-03,Tallahassee,Jacksonville
249,South,West South Central,Texas,1845-12-29,Austin,Houston
146,Midwest,West North Central,Iowa,1846-12-28,Des Moines,Des Moines
287,Midwest,East North Central,Wisconsin,1848-05-29,Madison,Milwaukee
44,West,Pacific,California,1850-09-09,Sacramento,Los Angeles
154,Midwest,West North Central,Minnesota,1858-05-11,St. Paul,Minneapolis
228,West,Pacific,Oregon,1859-02-14,Salem,Portland
147,Midwest,West North Central,Kansas,1861-01-29,Topeka,Wichita
286,South,South Atlantic,West Virginia,1863-06-20,Charleston,Charleston
159,West,Mountain,Nevada,1864-10-31,Carson City,Las Vegas
158,Midwest,West North Central,Nebraska,1867-03-01,Lincoln,Omaha
84,West,Mountain,Colorado,1876-08-01,Denver,Denver
225,Midwest,West North Central,North Dakota,1889-11-02,Bismarck,Fargo
232,Midwest,West North Central,South Dakota,1889-11-02,Pierre,Sioux Falls
157,West,Mountain,Montana,1889-11-08,Helena,Billings
285,West,Pacific,Washington,1889-11-11,Olympia,Seattle
143,West,Mountain,Idaho,1890-07-03,Boise,Boise
288,West,Mountain,Wyoming,1890-07-10,Cheyenne,Cheyenne
282,West,Mountain,Utah,1896-01-04,Salt Lake City,Salt Lake City
227,South,West South Central,Oklahoma,1907-11-16,Oklahoma City,Oklahoma City
162,West,Mountain,New Mexico,1912-01-06,Santa Fe,Albuquerque
35,West,Mountain,Arizona,1912-02-14,Phoenix,Phoenix
5,West,Pacific,Alaska,1959-01-03,Juneau,Anchorage
135,West,Pacific,Hawaii,1959-08-21,Honolulu,Honolulu

In [83]:
regions = states_data_frame["region"].value_counts()
regions

region
South        16
West         13
Midwest      12
Northeast     9
Name: count, dtype: int64